<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spravochnik_kgz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/flag"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".obratSviaz"/>
        <activity android:name=".oNas" />
        <activity android:name=".infoAct" />
        <activity android:name=".homekg"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".homeru"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".homeeng"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".ActivityTwo"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".ActivityTwoEn"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".ActivityTwoRu"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".MainActivityEn"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".MainActivityRu"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".DetailActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".DetailActivityEn"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".DetailActivityRu"
            android:theme="@style/AppTheme2"/>
    </application>
</manifest>
